/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Свой*/


.block1{
  height: 500px;
  border: solid 1px silver;
  border-top-left-radius:  3px;
  border-bottom-left-radius:  3px;
  width: 70%;
  float: left;
  text-align: center;
}
.imgDetails{
  width: 400px;
  height: 400px;
}
.image{
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
}

.block1-text{
  margin-top: 10px;
  color: silver;
  font-size: 14px;
}
.block2{
  height: 500px;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
  border-bottom:  solid 1px silver;
  border-top-right-radius:  3px;
  border-bottom-right-radius:  3px;
  width: 30%;
  margin-left: 70%;
  padding: 15px 30px 10px 30px;
  text-align: left;
}
.box-1{
  height: 25%;
}
.box-2{
  height: 5%;
}

.box-4{
  height: 33%;
}
.box-3_in1{
  padding-right: 20px;
  float: left;
  font-size: 17px;
  border-right: solid 1px silver;
}

.box-3_in2{
  padding-left: 105px;
}
.box-3_in3{
  width: 100%;
  text-align: center;

}
.span-price{
  font-size: 17px;
  font-weight:bold;
  background-color: #ffd300;
}
.item__description-text{
  font-size: 15px;
}
.remove-product{
  text-align:right;
  font-size: 12px;
}

/**/
#zatemnenie {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  width: 300px;
  height: 100px;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
}
#zatemnenie:target {display: block;}
.btn-remove{
  line-height: normal;
  margin: 0px 10px 0 10px;
}
/*_________________________*/

.form-brand{
  float: left;
  width: 70%;
}
.form-rows{
  float: right;
  width: 25%;
}
.Block-edit{
  margin: 50px auto auto;
  width: 20%;
  padding: 30px;
  border: solid 1px silver;
  border-radius: 3px;
}
.field-validation-error{
  color: red;
  font-size: 13px;
}
/*______________*/
.block3{
  width: 15%;
  float: right;
  margin-top: 20px;
  height: 500px;
  padding: 20px;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
  border-bottom: solid 1px silver;
  border-top-right-radius:  3px;
  border-bottom-right-radius:  3px;
}


